* {
    padding: 0;
    margin: 0;
    color: black;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 0;
    display: none;
}

body::-webkit-scrollbar-horizontal {
    display: none;
}

body::-webkit-scrollbar-vertical {
    display: none;
}

#header {
    height: 80px;
    position: absolute;
    width: 100vw;
    background-color: blue;
}

#main {
    padding-top: 80px;
    background-color: beige;
    overflow-y: scroll;
    height: 200vh;
    width: 100vw;
}

#train {
    position: fixed;
    margin-left: 80vw;
    transition: all linear 500ms;
}